* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}

#error {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero {
  height: 20vh;
  background-image: url(./images/hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 60vw;
  height: 60%;
}

#quote-form {
  width: 70%;
  margin-inline: auto;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

#quote-form form {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.quote-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-form-cities {
  display: flex;
  padding: 0 10vw;
  justify-content: space-around;
}

.quote-form-city {
  width: 40%;
  height: 20vh;
  text-align: center;
  border: solid 1px #ccc;
  border-radius: 15px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 6px 2px #ccc;
  transition: scale 0.2s;
}

.quote-form-city:hover {
  outline: solid 2px #333;
}

.quote-form-city.selected {
  scale: 1.1;
}

.quote-form-city.unselected {
  opacity: 0.3;
  transition: opacity 0.2s;
}

.quote-form-city.unselected:hover {
  opacity: 1;
}

.quote-form-city img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.quote-form-city h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.quote-form-city label input {
  display: none;
}

.quote-form-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.quote-form-option {
  width: fit-content;
  padding: 10px 0;
  border: solid 1px #ccc;
  border-radius: 15px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 6px 2px #ccc;
}

.quote-form-option label {
  width: 300px;
  padding: 10px;
  border-radius: 15px;
}

.quote-form-option label:hover {
  cursor: pointer;
  outline: 2px solid black;
}

.quote-form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.quote-form-submit input {
  padding: 8px;
  font-size: 16px;
}

.quote-form-submit button {
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: #4888c4;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 0px 6px 2px #ccc;
}

.quote-form-submit button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.quote-form-submit button:active {
  color: #333;
}

#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vh auto 0 auto;
  width: 700px;
}

.quote-card {
  border: solid 1px #ccc;
  border-radius: 15px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 6px 2px #ccc;
  padding: 4vh;
  width: 100%;
}

.quote-card header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.quote-card header div {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.quote-card header div p {
  font-size: 18px;
}

.quote-basic {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.quote-basic div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.quote-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin: 10px 0;
}

.quote-option {
  display: flex;
  gap: 60px;
}

.quote-total {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  margin-top: 10px;
}

.quote-total h4 {
  text-decoration: underline;
}

.quote-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vh;
}

.quote-buttons a,
.quote-buttons button {
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: #4888c4;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 0px 6px 2px #ccc;
  text-decoration: none;
}

.quote-buttons a:hover,
.quote-buttons button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.quote-buttons a:active,
.quote-buttons button:active {
  color: #333;
}
