* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#error {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero {
  height: 40vh;
  background-image: url(./images/hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 60vw;
  height: 60%;
}

#quote-form {
  height: 60vh;
}
